<div id="home" class="banner-home " style="background-image: url('<%= image_path 'hopenfamily.png' %>');">
  <div class="banner-content">
    <%= render partial: 'layouts/navbar' %>
    <br><br><br><br>
    <h1>Hopen Family</h1>
    <hr class="text-center">
    <h2><%= t "home.title_under" %></h2>
    <% if I18n.locale == :fr %>
      <%= link_to image_tag("concours.png", border: 0),new_user_session_path%><br>
    <% end %>
    <% if I18n.locale == :en %>
      <%= link_to image_tag("contest.png", border: 0),new_user_session_path%><br>
    <% end %>
    <%= link_to t("pages.home.header.button"),new_user_session_path, class:"btn btn-lg btn-danger"%>
    <section id="section03" class="demo">
	    <a href="#concept"><span></span></a>
      <p><%= t "home.scroll" %></p>
    </section>
  </div>
</div>
    <header id="concept">
      <%= image_tag"test3.png",class:"img-responsive_hand"%>
        <div class="container">
          <br><br><br><br>
          <div class="title_concept text-center">
              <h1><%= t "features.title" %></h1>
              <p class="text-muted"><%= t "features.title_under_1"%><br><%= t "features.title_under_2"%></p>
              <hr>
          </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h2><%= t "pages.home.header.description_1" %><br>
                              <%= t "pages.home.header.description_2" %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <!-- size 458x923 -->
                                    <% if I18n.locale == :fr %>
                                    <%= image_tag"test8.png",class:"img-responsive"%>
                                    <% end %>
                                    <% if I18n.locale == :en %>
                                    <%= image_tag"test7.png",class:"img-responsive"%>
                                    <% end %>
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </header>


    <!-- <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2><%= t "features.title" %></h2>
                        <p class="text-muted"><%= t "features.title_under_1"%><br><%= t "features.title_under_2"%></p>
                        <hr>
                    </div>
                </div>
            </div>
          </div>
          <div class='principal'>
            <div class="element">
              <div class="screen">
                <% if I18n.locale == :fr %>
                <%= image_tag "papy.png"%>
                <% end %>
                <% if I18n.locale == :en %>
                <%= image_tag "mamy.png"%>
                <% end %>
              </div>
            </div>

            <div class="element">
              <div class="screen">
                <% if I18n.locale == :fr %>
                <%= image_tag "papa.png"%>
                <% end %>
                <% if I18n.locale == :en %>
                <%= image_tag "dad.png"%>
                <% end %>
              </div>
            </div>

            <div class="element">
              <div class="screen">
                <% if I18n.locale == :fr %>
                <%= image_tag "jeunes.png"%>
                <% end %>
                <% if I18n.locale == :en %>
                <%= image_tag "kids.png"%>
                <% end %>
            </div>
        </div>
      </div>
    </section> -->

    <section id="hopen_box">
      <h2 class="title_hopen"><%= t"hopen_box.title" %></h2>
      <p class="text-muted_hopen_box"><%= t"hopen_box.title_under_3"%>
      <br><%= t"hopen_box.title_under_4"%></p>
      <hr>
      <div class='principal'>
        <div class="element">
          <div class="screen">
            <%= image_tag "family2.png"%>
          </div>
          <h3><%= t "hopen_box.title_1"%></h3>
          <p><%= t "hopen_box.description_1"%>
          <br><%= t "hopen_box.description_6"%>
          <br><%= t "hopen_box.description_7"%></p>
        </div>

        <div class="element">
          <div class="screen">
            <%= image_tag "hopen.png"%>
          </div>
          <h3><%= t "hopen_box.title_2"%></h3>
          <p><%= t "hopen_box.description_2"%>
          <br><%= t "hopen_box.description_8"%>
          <br><%= t "hopen_box.description_9"%></p>
        </div>

        <div class="element">
          <div class="screen">
            <%= image_tag "family1.png"%>
          </div>
          <h3><%= t "hopen_box.title_3"%></h3>
          <p><%= t "hopen_box.description_3"%><br>
            <%= t "hopen_box.description_4"%><br>
            <%= t "hopen_box.description_5"%>
          </p>
        </div>
    </div>
    </section>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading"><%= t "download.title1"%></h2>
                    <p><%= t "download.title_under1"%><br><%= t "download.title_under3"%>
                      <br><%= t "download.title_under2"%>
                    </p>
                    <hr>
                    <%= link_to (image_tag "cup.png"),new_user_session_path, class: "img_cup" %>
                    <br>
                    <%= link_to t("pages.home.header.button"),new_user_session_path, class:"btn btn-outline btn-xl"%>
                </div>
            </div>
        </div>
    </section>
    <section id="partner-play" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading"><%= t("play.title") %></h2>
                    <hr>
                    <%= link_to (image_tag "hopenfamily-Tesla-Motors.png"), "https://www.tesla.com/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-fermer.jpg"), "http://femer.fr/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-akrone.jpg"), "https://www.akrone.fr/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-CapSciences copie.jpg"), "http://www.cap-sciences.net/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-commons_origins_logo.jpg"), "https://www.theatre-des-salinieres.com/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-arbor.jpg"), "http://arbor-et-sens.fr/index.php?lang=fr",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-etiquettetasdejavu - copie.jpg"), "http://tasdejavu.com/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-lappuntamunto.png"), "https://www.facebook.com/Lappuntamento-foodtruck-italian-trattoria-534561063298013/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-letaquin.jpg"), "http://letaquin.com/le-taquin/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-vins.png"), "http://www.chateaulamothecastera.fr/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-mistigri.jpg"), "https://www.facebook.com/Mistigri-216946742073824/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-mrt-shirt.png"), "http://monsieurtshirt.com/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-toot.png"), "https://toot-lunettes.com/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-every.png"), "http://www.everyonespeaks.com/",target:"_blank" %>
                    <%= link_to (image_tag "hopenfamily-frenchpoupon.jpg"), "https://frenchpoupon.fr/",target:"_blank" %>
                </div>
            </div>
        </div>
    </section>

    <section id="press" class="text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="section-heading"><%= t "press.title"%></h2>
                  <p><%= t "press.title_under"%><br><%= t "press.title_under1"%></p>
                  <hr>
                  <% if I18n.locale == :fr %>
                    <%= link_to (image_tag "rtl2.png"), "http://www.rtl2.fr/actu/regions/hopen-family-lance-son-premier-concours-communautaire-7787692960",target:"_blank", class:"img_cup" %>
                  <% end %>
                  <% if I18n.locale == :en %>
                    <%= link_to (image_tag "rtl2.png"), "http://hopenproject.com/press/",target:"_blank" %>
                  <% end %>
                    <%= link_to (image_tag "silvermag.png"), "http://silvermag.fr/gardez-contact-vos-proches-images-hopen-family/",target:"_blank" %>
                    <%= link_to (image_tag "silver.png"), "http://www.silverautonomie.com/index.php/actualites/169-l-ecosysteme-bordelais-de-la-silver-economie",target:"_blank" %>
                    <%= link_to (image_tag "web.png"), "https://www.youtube.com/watch?v=CcklTSyT4zg",target:"_blank" %>
                    <%= link_to (image_tag "hopen-family-cnews.png"), "http://www.bordeaux7.com/bordeaux-actualites/bordeaux-online/2017/03/27/hopen-family-connectent-personnes-agees-a-famille/",target:"_blank" %>
              </div>
              <p><a class='btn btn-danger btn-press' href=" http://hopenproject.com/fr/presse", target="_blank"><%= t('press.btn')%></a></p>
          </div>
      </div>
    </section>

    <section id="partner" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading"><%= t "partner.title"%></h2>
                    <hr>
                    <%= link_to (image_tag "logo_aec.png"), "http://www.aecom.org/",target:"_blank" %>
                    <%= link_to (image_tag "logo.png"), "http://www.catie.fr/",target:"_blank" %>
                    <%= link_to (image_tag "hopen-family-cerca.png"), "http://cerca.labo.univ-poitiers.fr/",target:"_blank" %>
                    <%= link_to (image_tag "hopen-family-ims.png"), "https://www.ims-bordeaux.fr/fr/",target:"_blank" %>
                    <%= link_to (image_tag "hopen-family-l3i.jpg"), "http://l3i.univ-larochelle.fr/",target:"_blank" %>
                    <%= link_to (image_tag "Philips_Shape.png"), "http://www.philips.fr/p-m-pr/signage-solutions",target:"_blank" %>
                    <%= link_to (image_tag "logo-ENSC.png"), "https://ensc.bordeaux-inp.fr/fr",target:"_blank" %>
                    <%= link_to (image_tag "nouvelle-aquitaine.png"), "https://www.nouvelle-aquitaine.fr/",target:"_blank" %>
                    <%= link_to (image_tag "chubordeaux.png"), "https://www.chu-bordeaux.fr/",target:"_blank" %>
                    <%= link_to (image_tag "frenchtech.png"), "http://lespepitestech.com/startup-de-la-french-tech/hopen-family",target:"_blank" %>
                    <%= link_to (image_tag "osez.png"),"http://osezbordeaux.fr/",target:"_blank" %>

                </div>
            </div>
        </div>
    </section>

    <section id="follow" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading"><%= t "follow.title" %></h2>
                    <hr>
                </div>
                <div class="fb-like" data-href="https://www.facebook.com/hopenfamily/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </section>

    <section class="section_contact" id="contact" class="contact bg-primary">
        <div class="container">
          <div class="principal_contact">
            <div class="About">
              <h2 class="text_friends_title"><%= t "contact.about" %></h2>
              <p class="text-muted_frineds"><%= t "contact.about_description"%></p>
            </div>
            <hr>
            <div class="friends">
              <!--80X80-->
              <h2 class="text_friends_title"><%= t "contact.love1"%><span class="icon-coeur_full4"></span><%= t "contact.love2"%></h2>
              <ul class="list-inline list-social">
                  <li>
                    <!--80X80-->
                    <a href="http://www.facebook.com/hopenfamily", target="_blank"><%=image_tag "face.png", class:"fa fa-twitter" %></a>
                  </li>
                  <li>
                    <a href="http://www.twitter.com/hopenfamily", target="_blank"><%= image_tag "twitter.png", class:"fa fa-twitter" %></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/company-beta/16177025", target="_blank" ><%= image_tag "linkedin.png", class:"fa fa-twitter" %></a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <ul class="list-inline">
                <li>
                    <%= link_to t("footer.privacy"), pages_mention_path, class: "link_back" %>
                </li>
                <li>
                    <%= mail_to "nelly@hopenproject.com", class:"link_back" do %>
                    <%=t"footer.contact", class:"back_link"%>
                    <% end %>
                    <%= link_to "Team", pages_team_path, class: "link_back" %>
                </li>
            </ul>
            <p>&copy; <%= t "footer.copy" %></p>
        </div>
    </footer>
    <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=259735514468714";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</body>
