<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="page-scroll navbar-header" href="#page-top"><span class="icon-coeur_full"></span></a>
            <!-- <a class="navbar-brand page-scroll title_logo" href="#page-top"></a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <%= link_to edit_user_registration_path do %>
                    <% avatar_url = current_user.facebook_picture_url || current_user.photo %>
                    <%= image_tag current_user.avatar.url(:medium), class: " page-scroll img_avatar" %>
                  <% end %>
                  <!-- <li><%= link_to "Coming Soon", pages_contest_path, class:"page-scroll" %></li> -->
                  <li><%= link_to t('pages.home.header.navbar.sign_out'), destroy_user_session_path, method: :delete, class:"page-scroll" %></li>
                  <% if current_user.email == "nelly@gmail.com" %>
                    <li><%= link_to 'Database', users_path %> </li>
                  <% end %>
                <% else %>
                  <li>
                    <a class="page-scroll" href="#features"><%= t "pages.home.header.navbar.feature" %></a>
                  </li>
                  <% if I18n.locale == :fr %>
                    <li>
                      <a class="page-scroll" href="http://hopenproject.com/fr/actualites/" target="_blank"><%= t "pages.home.header.navbar.download1" %></a>
                    </li>
                  <% end %>
                  <% if I18n.locale == :en %>
                    <li>
                      <a class="page-scroll" href="http://hopenproject.com/news/" target="_blank"><%= t "pages.home.header.navbar.download1" %></a>
                    </li>
                  <% end %>
                  <li>
                    <a class="page-scroll" href="#hopen_box"><%= t "pages.home.header.navbar.hopen_box" %></a>
                  </li>
                  <% if I18n.locale == :fr %>
                    <li>
                      <a class="page-scroll" href="http://hopenproject.com/fr/temoignages-hopen-family/" target="_blank"><%= t "pages.home.header.navbar.support_us" %></a>
                    </li>
                  <% end %>
                  <% if I18n.locale == :en %>
                    <li>
                      <a class="page-scroll" href="http://hopenproject.com/hopen-family-testimonials/" target="_blank"><%= t "pages.home.header.navbar.support_us" %></a>
                    </li>
                  <% end %>
                  <li><%= link_to t('pages.home.header.navbar.sign_in'), new_user_session_path, class: "active" %></li>
                <% end %>

                <% if I18n.locale == :fr %>
                <li><%= link_to_unless_current image_tag('flag5.png'), locale: "en"%></li>
                <% end %>
                <% if I18n.locale == :en %>
                <li><%= link_to_unless_current image_tag('flag6.png'), locale: "fr", class:"fr" %></li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <%= render 'layouts/alerts' %>
</nav>
</div>
